.advantages {
  padding: 75px 0 0;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 93px;
    grid-template-columns: 1fr 1fr;
  }
}

.advantages__title {
  margin: 0 0 52px;
  padding: 0 0 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  border-bottom: 1px solid $color-white;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: end;
  }
}

.advantages__container {
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.advantages__info {
  margin-bottom: 50px;
  padding-bottom: 50px;

  border-bottom: 1px solid $color-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding-bottom: 52px;
  }
}

.advantages__info-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: $color-alizarin;

  @media (min-width: $tablet-width) {
    font-size: 62px;
    line-height: 73px;
  }
}

.advantages__description {
  margin: 15px 0 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  @media (min-width: $tablet-width) {
    width: 75%;
  }
}

.advantages__block {
  padding-bottom: 50px;
  border-bottom: 1px solid $color-white;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border: none;
  }
}

.advantages__price {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;

  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.advantages__image-container {
  position: relative;
  padding: 0;

  order: -1;
  margin-top: auto;
  margin-bottom: -17px;

  &::before {
    content: "";
    position: absolute;
    position: absolute;
    top: 47%;
    left: 46%;
    z-index: -1;

    width: 1px;
    height: 100px;

    background-color: $color-alizarin;
    border-radius: 50%;
    box-shadow: 0 0 360px 269px $color-alizarin;
  }
}

.advantages__image {
  display: block;
  object-fit: cover;
}

.advantages__button-container {
  width: max-content;

  border: 1px solid $color-white;
}

.advantages__button {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
}
