.advertising {
  position: relative;
  z-index: 2;

  padding: 39px 0 49px;

  background-color: $color-alizarin;

  @media (min-width: $tablet-width) {
    padding: 116px 0;
  }
}

.advertising__title {
  margin: 0 0 30px;
  padding: 0 0 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  border-bottom: 1px solid $color-white;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;
  }
}

.advertising__description {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 0 60px;
    padding: 0;

    font-weight: 700;
    font-size: 62px;
    line-height: 73px;
    text-transform: uppercase;
    letter-spacing: -3px;
  }
}

.advertising__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    gap: 30px 2.4%;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 60px 2.4%;
  }
}

.advertising__item-endgame {
  grid-area: 1 / 1 / 2 / 3;
}

.advertising__item-ultron {
  grid-area: 4 / 1 / 5 / 3;

  @media (min-width: $tablet-width) {
    grid-area: 2 / 3 / 3 / 5;
  }
}

.advertising__image {
  display: block;
  height: auto;

  transition-duration: 300ms;
  transition-property: transform;

  @media (min-width: $tablet-width) {

  }
}

.advertising__link {
  margin: 0;
  padding: 0;

  color: $color-white;
  text-decoration: none;

  &:hover .advertising__image {
    transform: scale(1.05);
  }
}

.advertising__item {
  position: relative;
}

.advertising__link-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    bottom: 30px;
  }
}
