.button {
  margin: 0;
  padding: 22px 45px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: $color-white;

  text-transform: uppercase;
  text-decoration: none;

  width: max-content;

  transition-duration: 300ms;
  transition-property: all;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.button__ticket {
  background-color: $color-alizarin;
  border: none;

  &:hover {
    background-color: #c32227;
  }
}

.button__trailer {
  margin: 0 auto;
  width: 184px;
  height: 190px;
  background-image: url("../img/background/trailer.svg");
  background-repeat: no-repeat;
  background-size: 184px 190px;

  transition-duration: 500ms;

  @media (min-width: $tablet-width) {
    width: 110px;
    height: 97px;
    margin: 15px 10px 10px auto;
    background-size: 93px 97px;
  }

  &:hover {
    transform: rotate(360deg) scale(1.15);
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}
