.footer {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }
}

.footer__info {
  margin: 0 auto;
  max-width: 450px;

  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 80%;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}
