.footer {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }
}

.footer__info {
  margin: 0 auto;

  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $tablet-width) {
    width: 30%;
  }
}
