.header {
  padding: 30px 0;
  width: 100%;

  &.is-open {
    background-color: $color-alizarin;
  }

  @media (min-width: $tablet-width) {
    padding: 60px 69px 0 72px;
  }
}

.header-intro {
  position: relative;
  z-index: 1;

  background-repeat: no-repeat;
  background-position: right;

  @media (min-width: $tablet-width) {
    min-height: 852px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 30%;
      z-index: -1;

      background-image: url("../img/background/header-background.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &::after {
    position: absolute;
    z-index: 2;
    content: "";
    bottom: 0;
    right: 0;
    height: 10px;
    background-color: $color-black;
    width: 600px;
    box-shadow: 0 0 65px 80px $color-black;

    @media (min-width: $tablet-width) {
      bottom: -50px;
      height: 100px;
      right: 20px;
      box-shadow: 0 0 65px 75px $color-black;
    }
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 53px 0;
}

.header__info {
  margin-top: 210px;
  padding: 0 15px 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.header__title {
  font-weight: 700;
  font-size: 75px;
  line-height: 100%;
  margin: 0 0 30px;
  padding: 0;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    font-size: 110px;
    letter-spacing: -3px;
  }
}

.header__description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 15px;
  padding: 0;
}

.header__genre {
  margin: 0 0 30px;
  padding: 0;

  span {
    text-transform: uppercase;
  }
}

.header__link-marvel {
  margin: 0 0 0 15px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  .is-open & {
    display: none;
  }
}

.header__marvel-image {
  width: 81px;
  height: 29px;
  transition-property: transform;
  transition-duration: 300ms;

  @media (min-width: $tablet-width) {
    width: 120px;
    height: auto;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0.5;
  }
}

.header__block {
  display: flex;
  align-items: center;
}

.header__rating {
  margin-left: 18px;
}

.header__image {
  height: 501px;
  display: block;
  object-fit: cover;
  object-position: top;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__menu-wrapper {
  position: absolute;
  top: 8px;
  right: 5px;
  padding: 0 10px 20px;
  width: 60px;
  height: 65px;
  cursor: pointer;
  border: none;
  background-color: $color-transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__menu-burger {
  transform: translateY(10px);
  width: 40px;
  height: 2px;
  background: $color-white;
  transition: all 0ms 300ms;

  &::before,
  &::after {
    width: 40px;
    height: 2px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    background: $color-white;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    background: $color-white;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &.animate {
    background: $color-transparent;

    &::after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }

    &::before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
  }
}
