.information {
  position: relative;
  z-index: 1;
  padding-top: 70px;

  @media (min-width: $tablet-width) {
    padding-top: 140px;
  }
}

.information__container {
  display: flex;
  flex-direction: column;
}

.information__title {
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid $color-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 30px;
  padding: 0 0 20px;

  @media (min-width: $tablet-width) {
    width: calc(50% - 30px);
    margin: 0 0 104px;
    padding: 0 0 20px;
  }
}

.information__description {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}

.information__description-title {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: $color-alizarin;
  text-transform: uppercase;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 62px;
    max-width: 35%;
    margin-bottom: 0;
  }
}

.information__description-block {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.information__description-text {
  margin: 0 0 50px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.information__people {
  margin: 70px auto 0;

  @media (min-width: $tablet-width) {
    margin-top: 109px;
  }
}

.information__people-list {
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 83px;
  }
}

.information__people-item {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 5px 0;
  text-align: center;

  transition-duration: 300ms;
  transition-property: transform;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }

  &--current {
    &:hover {
      transform: none;
      cursor: default;
    }

    &:active {
      cursor: default;
      opacity: 1;
    }
  }
}

.information__people-link {
  padding: 15px;

  color: $color-white;
  text-decoration: none;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }

  &--current {
    color: $color-alizarin;
    text-decoration: underline;

    &:hover {
      cursor: default;
    }
  }
}

/* .information__producer {
  margin: 0 auto;
} */

.information__producer-list {
  margin: 0 0 70px;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 150px;

    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.information__producer-item {
  margin-bottom: 30px;

  &:nth-of-type(2) {
    @media (min-width: $tablet-width) {
      grid-area: 2 / 2 / 3 / 3;
    }

    @media (min-width: $desktop-width) {
      grid-area: 1 / 2 / 2 / 3;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.information__image-containe {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 300px;
    height: 348px;

    background-image: url("../img/background/mask.png");
    background-size: cover;

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }
}

.information__producer-image {
  z-index: -1;

  display: block;

  object-fit: cover;
  object-position: top;
  min-width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
}

.information__producer-name {
  text-transform: uppercase;
}

.information__history {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-top: -50px;
  }
}

.information__history-image {
  display: block;
  max-width: none;
  margin: 0 -75px 0 auto;

  @media (min-width: $tablet-width) {
    object-fit: cover;
  }
}

.information__history-container {
  margin-bottom: -16px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 75%;
    z-index: -1;

    width: 1px;
    height: 100px;

    background-color: $color-alizarin;
    border-radius: 50%;
    box-shadow: 0 0 360px 269px $color-alizarin;
  }
}

.information__history-description {
  margin: 0 0 50px;
  padding: 0 0 0 15px;

  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    letter-spacing: -3px;
    font-size: 62px;
  }

  span {
    color: $color-alizarin;
  }
}
