.link {
  color: $color-white;
  text-decoration: none;

  transition-duration: 300ms;
  transition-property: transform;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}
