// colors

$color-white: #ffffff;
$color-black: #000000;
$color-transparent: transparent;
$color-alizarin: #ec1d24;
$color-blue: #4a1dec;

// fonts

$ff-roboto: "Roboto", sans-serif;

// viewports

$tablet-width: 768px;
$desktop-width: 1024px;

// Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
